*{
    margin: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Nunito Sans";
    color: #FFFFFF;
}

.header, .footer{
    background-color: #131313;
    height: 83px;
}

.container{
    margin: 0 auto;
    width: 1250px;
}

.navigation{
    height: 83px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E3B873;
}

.navigation__logo-span{
    margin-right: 50px;
}

.navigation__menu-items{
    width: 570px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation__menu-item{
    color: #FFFFFF;
}

.navigation__menu-item--active{
    color: #E3B873;
}

.button{
    font-family: "Nunito Italic";
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.navigation__tel-link{
    color: #E3B873;
}

.navigation__button{
    width: 161px;
    height: 37px;
    border: none;
}

.title{
    height: 707px;
    background: url(/img/bg_1.jpg);
}

.title-bg-blackout{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.title-content--padding{
    padding-top: 190px;
    padding-left: 40px;
}

.title-content__title{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.title-content__title-span{
    color: #E3B873; 
}

.title-content__text{
    font-size: 22px;
    line-height: 36px;
    margin-top: 18px;
    margin-bottom: 24px;
}

.title-content__button--size{
    Width: 207px;
    Height: 51px;
}

.title-content__button--bg-none{
    box-sizing: border-box;
    background: none;
    border: 1px solid #FFFFFF;
    margin-left: 17px;   
}

.projects{
    background: #131313;
    height: 1074px;
}

.completed-projects{
    display: flex;
    justify-content: space-between;
}

.completed-projects--padding{
    padding: 104px 35px 0 40px;
}

.completed-project__description{
    margin-top: 70px;
}

.completed-projects__title{
    font-family: Yeseva One;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -2.6px;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-projects__text{
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 22px 0 48px 0;
}

.completed-projects__options{
    display: grid;
    gap: 10px;
    grid-template-columns: 180px 180px;
    grid-row-gap: 34px;
}

.completed-projects__slider-btn{
    display: flex;
    margin-top: 85px;
}

.completed-projects__towns{
    display: flex;
    list-style: none;
}

.completed-projects__option-title{
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    padding-bottom: 5px;
}

.completed-projects__option-description{
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 21px;
}

.completed-projects__slider-circle{
    Width: 9.57px;
    Height: 9.57px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.completed-projects__slider-circle-box{
    display: flex;
    justify-content: space-between;
    Width: 63.78px;
    Height: 9.57px;
    margin: 0 29.5px;
}

.completed-projects__towns{
    padding: 0;
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 46px;
}

.completed-projects__town--active{
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 5px;
}

.completed-projects__town{
    margin-right: 60.5px;
}



@font-face {
    font-family: "Nunito Sans";
    src: url(/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nunito Italic";
    src: url(/fonts/Nunito_Sans/NunitoSans-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Yeseva One";
    src: url(/fonts/Yeseva_One/YesevaOne-Regular.ttf);
    font-weight: normal;
    font-weight: normal;
}