@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
}

// common

.container{
    max-width: 1250px;
    height: 100%;

    padding: 0 10px;

    box-sizing: border-box;

    margin: 0 auto;
}

.container--item-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-icon{
    margin: 0 auto;

    position: relative;

    width: fit-content;
}

.section-icon::after{
    content: '';

    width: 32px;
    height:  1.5px;

    background: $main-gold;

    border-radius: 30px;

    position: absolute;
    top: 50%;
    left: 40px;
}

.section-icon::before{
    content: '';

    width: 32px;
    height:  1.5px;

    background: $main-gold;

    border-radius: 30px;

    position: absolute;
    top: 50%;
    right: 40px;
}

.bg{
    width: 100%;
    height: 100%;

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    object-fit: cover;
}

// header

.header{
    height: 80px;

    position: relative;
    z-index: 5;

    background: $main-black;
}

.navigation{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;

    font-weight: 600;
    font-size: 18px;

    color: $white;
    color: $main-gold;
}

.nav__menu{
    display: flex;
    gap: 20px;

    list-style: none;
}

.nav__menu-link, .call{
    text-decoration: none;
    text-transform: uppercase;

    position: relative;

    transition: .2s linear;

    color: $white;
}

.call::after, .nav__menu-link:after{
    content: '';
    width: 0;
    height: 1px;

    position: absolute;
    bottom: -2px;
    left: 0;

    transition: .2s linear;

    background: $main-gold;
}

.call:hover, .nav__menu-link:hover{
    color: $main-gold;
}

.call:hover:after, .nav__menu-link:hover:after{
    width: 100%;
}

main{
    flex-grow: 1;
}

// hero

.hero{
    min-height: 100vh;

    margin-top: -80px;
    padding: 80px 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background: rgba(0, 0, 0, 0.7);
    color: $white;
}

.hero__title{
    width: 35%;

    margin: 0;

    font-size: 40px;
    line-height: 60px;
}

.hero__description{
    width: 35%;

    font-size: 22px;
    line-height: 36px;
}

.hero{
    .container{
        button:last-of-type{
            margin-left: 20px;
        }
    }
}

// projects

.projects{
    background: $main-black;
    height: 100vh;

    // slider

    .projects__slider-wrapper{
        padding-bottom: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
    .swiper{
        height: 550px;
    }

    .projects__slide-name{
        padding: 5px 0;

        font-size: 18px;

        text-transform: uppercase;

        cursor: pointer;

        transition-duration: .3s;

        color: $white;
    }

    .projects__slide-name:hover{
        scale: 1.05;
    }

    .projects__slide-name--active{
        color: $main-gold;

        border-bottom: 1px solid $main-gold;
    }


    .swiper-wrapper{
        height: 100%;
    }

    .swiper-slide{
        img{
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .swiper-wrapper-btn{
        display: flex;
        align-items: center;

        .swiper-button-next, .swiper-button-prev, .swiper-pagination{
            margin: 0;
            
            position: static;
            img{
                object-fit: cover;

                transition-duration: .2s;
            }
            img:hover{
                scale: 1.2;
            }
        }

        .swiper-pagination{
            width: auto;

            margin: 0 15px;
        }

        .swiper-button-next::after{
            content: '';
        }

        .swiper-button-prev::after{
            content: '';
        }

        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;

            background: rgba(255, 255, 255, 0.3);

            opacity: 1;
        }

        .swiper-pagination-bullet-active{
            background: $white;
        }
    }
}

.projects__wrapper{
    max-height: 600px;

    overflow: hidden;

    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: space-between;
    align-items: start;
}

.projects__text{
    max-height: 320px;

    overflow: hidden;

    text-align: justify;

    padding-bottom: 10px;

    font-size: 14px;
    line-height: 27px;

    color: #FFFFFF;
}

.options{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
}

.option__title{
    text-transform: uppercase;

    font-size: 18px;

    color: $main-gold;
}

.option__description{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 13px;

    color: $white;
}

// control

.control{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.control__title{
    margin: 20px 0;
}

.control__text{
    position: relative;

    padding: 0 40px;

    font-size: 18px;
    line-height: 37px;

    text-align: center;
}

.control__text::before{
    content: '';

    width: 55px;
    height:  2.5px;

    background: $main-gold;

    border-radius: 30px;
    
    position: absolute;
    top: -10%;
    left: 50%;

    transform: translateX(-50%);
}

.control__video{
    margin: 20px auto 40px;

    max-width: 800px;

    padding: 20%;

    box-sizing: border-box;

    position: relative;

    video{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.control__video-play{
    width: 100%;
    height: 100%;

    background: #18181854;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.control__video-play-btn{
    width: 60px;
    height: 60px;

    background: $main-gold url('../assets/img/icons/play.svg') no-repeat 60%;

    border-radius: 50%;

    cursor: pointer;

    transition: scale 0.5s;
}

.control__video-play-btn:hover{
    scale: 1.1;
}

// repair-type

.repair{
    min-height: 100vh;

    display: flex;
    align-items: center;
    .container{
        flex-grow: 1;
    }
}

.repair__title{
    margin-bottom: 20px;
}

.repair__icon{
    margin-bottom: 20px;
}

.repair-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 15px;

    padding-bottom: 50px;
}

.repair-card{
    max-width: 370px;
    
    flex-grow: 1;

    padding-bottom: 50px;

    background: $white;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    position: relative;

    cursor: pointer;

    transition: scale 0.2s;
}

.repair-card:hover{
    scale: 1.03;
}

.repair-card__img{
    margin-bottom: 15px;

    img{
        display: block;

        width: 100%;
        height: 300px;

        object-fit: cover;
    }
}

.repair-card__type{
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;

    margin: 0 0 15px 30px;

    color: $main-black;
}

.repair-card__options{
    list-style-position: inside;

    margin-left: 30px;
    li{
        font-size: 14px;
        line-height: 27px;
        color: #959595;
    }
}

.repair-card__price{
    text-transform: uppercase;

    font-family: 'Yeseva One', cursive;
    font-size: 17px;
    line-height: 25px;

    color: $white;

    background: $main-gold;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

    padding: 6%;

    box-sizing: border-box;

    position: absolute;
    bottom: -30px;
    left: 0;
    
}

// advantages

.advantages{
    min-height: 100vh;

    position: relative;
}

.advantages__list{
    margin: 0 auto;
}

.advantages__list{
    list-style: none;
    counter-reset: ol-numbers;
    li{
        position: relative;

        padding-left: 50px;

        display: flex;
        align-items: center;

        font-size: 14px;
        line-height: 19px;
        color: $main-black;
    }
    li:before{
        counter-increment: ol-numbers;
        content: counter(ol-numbers);

        width: 42px;
        height: 42px;

        display: flex;

        justify-content: center;
        align-items: center;

        background: $main-gold;

        color: white;

        border: 8px solid $white;
        border-radius: 50%;

        font-family: 'Yeseva One', cursive;
        font-size: 18px;
    }
}


// scroll-button

.mouse{
    width:3.5em;
    height:6em;

    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

    border-radius: 100px;
    border:2px solid white;

    background-color:rgba(255,255,255,0);
}

.wheel{
    width:0.75em;
    height:0.75em;

    margin: 0 auto;
    margin-top: 17px;

    border-radius: 50%;

    background-color:white;
}

.scroll2{
    width:0px;
    height:0px;

    margin-left:auto;
    margin-right:auto;

    opacity:0;

    border-left: 0.35em solid transparent;
    border-right: 0.35em solid transparent;
    border-top: 0.4em solid white;

    -webkit-animation: down2 1s infinite;
    animation: down2 1s infinite;
}

.scroll3{
    width:0px;
    height:0px;

    margin-left:auto;
    margin-right:auto;

    opacity:0;

    border-left: 0.35em solid transparent;
    border-right: 0.35em solid transparent;
    border-top: 0.4em solid white;
    -webkit-animation: down 1s infinite;

    animation: down 1s infinite;
}

.scroll{
    width:0px;
    height:0px;

    margin-left:auto;
    margin-right:auto;

    opacity:0;

    border-left: 0.35em solid transparent;
    border-right: 0.35em solid transparent;
    border-top: 0.4em solid white;
    -webkit-animation: down3 1s infinite;

    animation: down3 1s infinite;
}

@-webkit-keyframes down{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
        transform: translateY(2.3em);
    }
}

@-webkit-keyframes down2{
    40%{
        opacity:0;
    }
    100%{
        opacity:0.5;
        transform: translateY(2.3em);
    }
}

@-webkit-keyframes down3{
    60%{
        opacity:0;
    }
    100%{
        opacity:0.2;
        transform: translateY(2.3em);
    }
}

@keyframes down{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
        transform: translateY(2.3em);
    }
}

@keyframes down2{
    40%{
        opacity:0;
    }
    100%{
        opacity:0.5;
        transform: translateY(2.3em);
    }
}

@keyframes down3{
    60%{
        opacity:0;
    }
    100%{
        opacity:0.2;
        transform: translateY(2.3em);
    }
}

// buttons

.btn{
    border-radius: 2px;
    border: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

    text-transform: uppercase;

    transition: .2s linear;

    color: $white;
}

// buttons size

.btn--middle{
    padding: 10px 25px;
}

.btn--big{
    padding: 20px 25px;
}

.btn--primary:hover, .btn--transparent:hover{
    box-shadow: 0 0 0 2px $white, 0 0 0 2px; 
}

// buttons color

.btn--primary{
    background: $main-gold;
}

.btn--transparent{
    border: 1px solid #FFFFFF;

    color: $white;
    background: transparent;
}

// title 

.title{
    font-family: 'Yeseva One', cursive;

    text-transform: uppercase;

    letter-spacing: 2.5px;
}

.title--primary{
    font-size: 27px;

    color: $main-gold;
}

.title--secondary{
    font-size: 20px;

    color: #181818;

    text-align: center;
}

// form

.form{
    padding: 30px 50px;

    background: $main-black;
    label{
        color: rgba(255, 255, 255, 0.5);

        font-size: 13px;
        line-height: 21px;
    }
    input{
        font-size: 14px;
        line-height: 23px;

        color: $white;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        background: none;
        outline: none;
    }
    input::placeholder{
        color: $white;
    }
}

.form__title{
    text-align: center;

    font-size: 18px;
    line-height: 26px;

    color: $white;
}

.checkbox{
    cursor: pointer;
}

.checkbox__btn{
    display: none;
}

.checkbox__fake{
    width: 18px;
    height: 18px;
    background: $main-gold;
    color: #fff;
    display: inline-flex;
    justify-content: center;
}

.checkbox__fake::before{
    content: "\2714";
    font-size: 12px;
    opacity: 0;
    transition: 0.2s;

    color: #181818;
}

.checkbox__text{
    color: $white;

    font-size: 14px;
}
