// fonts 

@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

// colors

$main-black: #131313;
$white: #FFFFFF;
$main-gold: #E3B873;